
/*======== general ======= */

@font-face {
    font-family: 'Ubuntu';
    src: url('font/Ubuntu-R.ttf') format('truetype'),
    	url('font/Ubuntu-RI.ttf') format('truetype'),
    	url('font/Ubuntu-BI.ttf') format('truetype'),
    	url('font/Ubuntu-B.ttf') format('truetype');
}

* {
	font-family: "Ubuntu";
}

body {
  padding-top: 50px;
  color: #555;
}

i.fa {
	margin-right: 5px;
}

.title-crumb{
	font-size: 21px;
}

.main-title{
	font-size: 30px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

a.delete-button {
	color: red;
	cursor: pointer;
}

table td {
	vertical-align: top !important;
}

.required {
	color: #ee2222;
}
/*======== end general ======= */


/* ======= util ========== */

.no-padding{
	padding:0px !important;
}
.no-margin{
	margin: 0px !important;
}
.separator{
	border-bottom: 1px solid #BFBFBF;
	margin: 0 auto;
}
.double-separator{
	border-bottom: 5px double #BFBFBF;
	margin: 0 auto;
}
.border{
	border-top: thin solid ;
	border-bottom: thin solid ;
	border-left: thin solid ;
	border-right: thin solid ;
}
.bottom-border {
	border-bottom: thin solid ;
}
.no-underline{
	text-decoration: none !important;
}

/* ======= End util ========== */


/*======== form ============== */

.grey-input-form-modal  input:focus{
	border-color: #888888 !important;
    box-shadow: 0 0.5px 2px #888888 inset, 0 0 2px #888888 !important;
    outline: 0 none !important;

}

.grey-input-form  input:focus, select:focus, textarea:focus{
	border-color: #888888 !important;
    box-shadow: 0 0.5px 2px #888888 inset, 0 0 2px #888888 !important;
    outline: 0 none !important;

}

.grey-input-form input{
	height:23px;
	line-height: 23px;
}


.manage-form{
	border-color: #888888;
	background-color: #f5f5f5;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 2px;
}

.valign {
	display: flex;
	align-items: center;
}

/*======== end form ============== */


/*=============== button ================*/

.button-add {
	padding:15px 15px 5px 15px;
	font-weight: 900;
	margin-bottom: 2px;
}

.button-add a{
	cursor: pointer;
	color: black;
}

.button-add a:hover {
	color: white;
	text-decoration: none;
}

.grey-btn-square{
	background: #f5f5f5;
	padding: 4px 9px;
	border-color: #888888;
}

.grey-btn-square:hover{
	background: #9f9a9a;
	border-color: #888888;
}

.btn-form-add {
	margin-right: 4px;
	padding: 2px 8px;
	color:white !important;
	background: #808080;
	cursor: pointer;
	text-decoration: none;
}
.btn-form-add:hover{
	color:black !important;
}

.btn-option.active.disabled {
	background: #908E8E;
}

/*=============== end button ================*/


/*=========== loading =======================*/

.ajax-call-container{
	z-index: 4;
	position:absolute;
	opacity:0.2;
	width: 98%;
	text-align: center;
}

/*=========== end loading ===================*/



/* ======== login ========= */

.bg-login {
	background-color: #F2F7FA;
}

.bg-white {
	background-color: #FAFAFA;
}

.login-form {
	background-color: #FFF;
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	padding: 30px;
	border: 1px solid #d1dde6;
	margin-top: 20px;
	border-radius: 5px;
}

.separator {
	border-top: 1px solid #d8dfe5;
	margin: 30px 0px;
	height: 0;
	text-align: center;
}

.separator-text {
	text-transform: uppercase;
	color: #b0becb;
	padding: 0px 5px;
	top: -10px;
	position: relative;
	background-color: #FFF;
	font-weight: 700;
}

.logo-container{
	text-align: center;
	padding-top: 1%;
}

/* ======== login end ========= */

/* ======== dashboard navbar========= */

.navbar{
	background: #a72239;
}

.navbar-logo-image{
	margin-top: 5px;
	height:50px;
}

.navbar-logo-font{
	height:50px;
}

.navbar-brand, .trackplus-right-nav-icon {
	cursor: pointer;
}

.trackplus-right-nav-icon  i, .trackplus-right-nav-icon  span, .burger-left i{
	color: white;
}

.trackplus-right-nav-icon > li a:hover, .trackplus-right-nav-icon > li a:active{
	background: #262626 !important;
}

.trackplus-right-nav-icon > li a:visited {
	background: #a72239 ;
}

.burger-left-ul,.burger-left-ul > li a:hover, .burger-left-ul > li a:active, .burger-left-ul > li a:active > li a:visited, .burger-left-ul > li a:active > li a:focus{
	background: #a72239 !important;
}

.burger-left{
	margin-left: 5px;
	background: #a72239 !important;
}

/*=========== end dashboard navbar ==========*/

/*=========== navbar dropdown ===============*/

.dropdown-menu {
	background: black !important;
	opacity: 0.9;
	box-shadow: 2px 3px 3px #aaa;
}

.dropdown-menu > li > a{
	color:white !important;
}

.open>a, .open>a:hover, .open>a:focus{
	background: black !important;
}

/*=========== end navbar dropdown ===========*/

/*=========== dashboard sidebar ==========*/

.sidebar{
    display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px !important;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #b5b5b5;
    box-shadow:  0px 1px 1px #888888;
  }
}

#error-response li:before {
	font-family: 'FontAwesome';
	content: '\f06a';
	margin:0 5px 0 -15px;
	color: #d3131c;
}

#success-response li:before {
	font-family: 'FontAwesome';
	content: '\f00c';
	margin:0 5px 0 -15px;
	color: #3c763d;
}

/*.side-row{
	padding: 2% 2%;
	margin: 10px 0;
	background: #d9d2d2;
  	box-shadow: 0px 2px 3px #aaa, inset 0px 2px 3px #fff;
  	max-width: 90%;
}*/

.side-row{
	padding: 5px 5px;
	/*background: #d9d2d2;*/
	border-top: thin none #888888;
	border-bottom: thin solid #B5B5B5;
	border-left: thin none #888888;
	border-right: thin none #888888;
  	max-width: 100%;
}

.side-row:hover, .side-row:active{
	background: #BBB6B6;
	color:white;
}

.side-row.active{
	background: #808080;
	color:white;
}

.sidebar a{
	color:black;
	text-decoration:none !important;
}
.sidebar-menu {
	margin-top: 12%;
}
.sidebar-acc-container{
	padding: 2% 2%;
	background: #d9d2d2;
  	max-width: 100%;
}
.side-row.acc{
	margin-bottom: 0px;
}
.sidebar-list-menu{
	list-style: none;
	padding: 10px 10px 10px 0px;
}

/*.sidebar-list-menu{
	list-style: none;
	padding: 10px;
}*/

/*=========== end dashboard sidebar ==========*/

/*================= Dashboard ================*/
.card {
	background: #f5f5f5;
	border-color:#888888;
	padding: 0;
	margin-top: 10px;
	height: 150px;
}
.card-header {
	line-height: 200%;
	font-size: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.card-main-info {
	font-size: 40px;
}
.card-sub-info {
	
}
.dashboard-sub-title {
	font-size: 24px;
}
/*============= End of Dashboard =============*/

/*=========== marketing ======================*/

.marketing-well{
	background:#afafaf;
	height:100%;
	padding:0px;
	border-color:#808080;
	position: relative;
	margin-top: 5px;
}

.data-list-box{
	padding: 10px;
	background: #f5f5f5;
	margin: 5px 0px;
	border-color:#888888;
}
.white-table{
	padding: 5px;
	background: white;
}

.content-title.col-md-12 {
	padding: 0px;
}

.content-title a {
	margin-top: 20px;
    margin-bottom: 10px;
}

.content-title {
	border-bottom: 1px solid #BFBFBF;
	margin:5px 0px;
	padding:2px 0px !important;
}

.list-nav li:before{
	content:"||";
}

.list-nav li{
	display: inline;
	cursor: pointer;
}

.list-nav li a{
	text-decoration: none;
	color:black;
}

.list-nav li a:hover{
	text-decoration: none;
	color:#888888;
}

/*.input-form .form-group:before{
	content: attr(title);
}*/

/*================ end marketing ================= */

/*================ data tables ====================*/

.display, .dataTables_scrollHeadInner{
	width: 100% !important;
}

.dataTables_scrollBody{
	font-size: 10px !important;
}
.table-option{
	cursor: pointer;
	background: #BBB6B6;
	padding: 1px;
	border-color: #888888;
	color:black;
}
.table-option:hover{
	color: white
}
.table-option-wrapper{
	/*text-align: right;*/
}
.table-option-wrapper a{
	text-decoration: none;
}


/*================ end data tables ====================*/


/*================ buyilder ===========================*/

.item-element{
	cursor:pointer;
	text-align:center;
}

/*================ end builder ========================*/




/*=========== config modal ================*/

.btn-option{
	background: #f4f4f4;

}

/*=========== form mock ===================*/

.pageName:nth-child(odd){
	background: #d5d5d5;
}

.pageName:nth-child(even) {
    background: #f5f5f5;
}

.remove-page {
	color: #888888;
}

.remove-page:hover {
	color: #444444;
}

/* Content Style */
input[type="checkbox"], label.normal {
	font-weight: normal !important;
	cursor: pointer;
}

a.delete-button:hover {
	color: #A20C0C;
}

a.confirm-button {
	color: green;
	cursor: pointer;
}

a.confirm-button:hover {
	color: #0F5E0F;
}

.project-description {
	white-space: nowrap;
	overflow: hidden;
}

.page-information div {
	padding: 0px !important;
}

/* Form Page */

.green-btn {
	color: green;
}

.wrapper-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-container {
	margin-left: -5px;
	margin-right: -5px;
}

.form-btn {
	margin-bottom: 5px;
}

.page-row {

}

.page-name {
	cursor: pointer;
}

#pageContainer > div.row,
#formDisplay > div.row {
	cursor: auto;
}
#pageContainer.ui-sortable > div.row,
#formDisplay.ui-sortable > div.row {
	cursor: move;
}
.item-caption {
	font-size: 12px;
}

.item-row {
	padding: 0;
}
.item-row:hover {
	background: rgba(175, 171, 175, 0.18);
}